.post {
  max-width: 650px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  margin-top: 20px;
}
.postImage {
  object-fit: contain;
  width: 100%;
}
.postText {
  font-weight: normal;
  padding: 20px;
}
.postHeader {
  display: flex;
  padding: 20px 10px;
  align-items: center;
}
.postAvatar {
  margin-right: 10px;
}
.commentbox {
  display: flex;
  margin-top: 10px;
}
.postinput {
  flex: 1;
  padding: 10px;
}
.postbutton {
  flex: 0;
  border: none;
  border-top: 1px solid lightgrey;
  color: aquamarine;
  background-color: transparent;
}
