.post {
  max-width: 800px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  margin-top: 2px;
}
.postImage {
  object-fit: contain;
  width: 100%;
}
.postText {
  font-weight: normal;
  padding: 15px;
  font-size: 18px;
}
.postHeader {
  display: flex;
  padding: 20px 10px;
  align-items: center;
}
.postAvatar {
  margin-right: 10px;
}
.commentbox {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  border-top: 1px solid lightgrey;
}
.postinput {
  flex: 1;
  padding: 10px;
  border: none;
}
.postinput:focus {
  border: none;
  outline: none;
}
.postbutton {
  flex: 0;
  border: none;
  border-top: 1px solid lightgrey;
  color: aquamarine;
  background-color: transparent;
}
.postcomments {
  padding-left: 10px;
  font-size: 16px;
}
.viewcomments {
  color: grey;
  font-size: 13px;
  padding-left: 15px;
}
.postcomments {
  margin: 0;
}
